.center {
  background-image: url("hatter.png");
}

.main {
  display: flex;
  margin-left: 50px;
  padding: auto;
}
.h2 {
  color: white;
}
.img1 {
  display: block;

  width: 400px;
  height: auto;
  color: white;
  margin: 50px;
  border-radius: 50%;
  /* padding: 100px;
  
  -webkit-animation: spin 20s linear infinite;
  -moz-animation: spin 20s linear infinite;
  animation: spin 20s linear infinite;*/
}
/*
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}*/
.like {
  width: 40px;
  height: auto;
  color: blue;
}
